.phone-product {
  margin-top: 80px;
}
.phone-select {
  padding: 8px 20px 8px 4px;
  border-color: #007bff;
  color: #007bff;
  border-radius: 4px;
  background: transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: #007bff;
    color: white;
  }
  option {
    display: block;
    background-color: white;
    color: #000;
  }
}
.notifiSuccess {
  position: absolute;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    transform: rotate(45deg);
    top: -8px;
    right: 20px;
    box-shadow: 0 4px 0 4px 20px 2px rgba(0, 0, 0, 0.4);
  }

  .icon-close {
    position: absolute;
    right: 6px;
    top: 4px;
    cursor: pointer;
  }
}
