.phone-product {
  margin-top: 80px;
}
.phone-select {
  padding: 8px 20px 8px 4px;
  border-color: #007bff;
  color: #007bff;
  border-radius: 4px;
  background: transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: #007bff;
    color: white;
  }
  option {
    display: block;
    background-color: white;
    color: #000;
    height: 40px;
  }
}
